* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
}

header {
    background-color: #9cd6f4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mb-25 {
    margin-bottom: 25px;
}

.highlight{
    background-color: yellow;
    font-weight: normal;
}

header img.logo {
    height: 45px;
}

main {
    padding-top: 50px;
    padding-bottom: 45px;
}

.author-date {
    color: gray;
}

.author-date .author {
    color: #4ea0ff;
}

.author-date .date {
    font-size: 14px;
}

.article-image figcaption {
    font-size: 14px;
}

#article-content .article-list-elements {
    list-style-position: inside;
}

#article-table-info {
    text-align: left;
}

#article-table-info thead {
    background-color: #7fa6fb;
    color: white;
}

#article-table-info thead th.main-content {
    width: 50%;
}

#article-table-info tbody tr.add {
    background-color: #dfe5f2;
}

footer {
    background-color: #313a6b;
    color: white;
    text-align: center;
    padding: 20px 0;
}